.halalan-day-mobile-portrait {
    display: flex !important;
}
.phase-1 {

    background: #ccc url('../images/halalan-day/420/bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;

    .content-holder {

        border-bottom-right-radius: 10px;
          
        .right-content {
            .countdown-container {
                .date-time {
                    .days, .hours {
                        h3 {
                            margin-top: 15px;
                            font-size: 20.61pt;
                        }
                    }
                }
            }
            .polls-container {
                .polls {
                    width: 130px;
                    border-radius: 0;

                    border-top-right-radius: 10px;
                    // border-bottom-right-radius: 10px;

                    border-right: 0;

                    h5 {
                        line-height: 1.2;
                        font-weight: 200;
                        font-family: $font-oswald;
                        padding: 5px 0;                        
                    }
                }
                
                .polls-hours,
                .polls-mins {
                    border-right: 0;
                    width: 130px;
                    display: flex;
                    height: 34px;
                    h3 {
                        line-height: 1.5;
                        margin: 0;
                        font-size: 24px;
                        flex: 1;
                        text-align: right;
                        
                    }
                    span {
                        line-height: 3.5;
                        font-size: 10px;
                        flex: 1.5;
                        text-align: left;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}