
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// Fonts
$font-base:			Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-primary:		'Montserrat', $font-base;

$font-oswald : 'Oswald', sans-serif;
$font-opensans : 'Open Sans', sans-serif;


/*FLEX*/
@mixin flex() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@mixin flex-reverse-column() {
	@include flex();
	-webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@mixin flex-reverse-row() {
	-webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flex-justify() {
	@include flex();
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-center() {
	@include flex();
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flex-middle() {
	@include flex();
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flex-bottom() {
	@include flex();
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}


//Positioning
@mixin centered-horizontal() {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

@mixin centered-vertical() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin centered-all() {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

@mixin centered-full() {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

