.halalan-results {

    background: #ccc url('../images/halalan-results/768/bg.jpg') no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    margin: 0;
  
    .content-holder {
        top: 24px;
        width: 98%;
        height: 200px;
        
        .left-content { 
            padding: 0 15px;
            .header {
                display: flex;
                height: 75px;
                .left {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    .title {
                        text-transform: uppercase;
                        color: #36d581;
                        font-size: 24px;
                        font-family: $font-oswald;
                        padding-right: 10px;
                    }
                    .top {
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 24px;
                        font-family: $font-oswald;
                        padding-right: 20px;
                    }
                    .er-percent {
                        text-transform: uppercase;
                        color: #fcd116;
                        font-size: 16px;
                        font-family: $font-oswald;
                        padding-right: 25px;
                    }
                    .partial {
                        text-transform: uppercase;
                        color: #fcd116;
                        font-size: 11px;
                        font-family: $font-opensans;
                        font-weight: bold;
                    }
                }
                .right {
                    
                    text-align: right;

                    display: flex;
                    align-items: center;

                    .see-all {
                        text-transform: uppercase;
                        font-size: 16px;
                        text-decoration: none;
                        color: #36d581;
                        cursor: pointer;
                        font-weight: 600;
                        font-family: $font-oswald;

                        margin-bottom: 10px;

                        .see-all-icon {
                            font-weight: bold;
                            font-size: 25px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }

            .content-container {
                margin-left: 10px;
                .list { 
                    -moz-column-count:3;
                    -webkit-column-count:3;
                    column-count:3;

                    list-style: none;
                    margin: 0;

                    .list-content {
                        display: flex;
                        align-items: center;
                        .name {
                            padding: 0;
                            line-height: 1.1;
                            .count {
                                display: block;
                                text-align: left;
                                line-height: 1.1;
                            }
                            h4,span {
                                font-size: 12px;
                            }
                            .splitted {
                                display: block;
                            }
                            .not-splitted {
                                display: none;
                            }
                            .location { display: none; }                            
                        }
                        .location { display: block; margin-left: 5px;line-height: 0.9; }
                        .count {     
                            text-align: right;
                            margin-right: 5px;
                            width: 26px;
                            display: none;                            
                            h5 {
                                font-weight: 500;
                            }
                        }
                    }

                    li:nth-child(1),
                    li:nth-child(2),
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        .votes {
                            padding-right: 0;
                        }
                    }
                     
                }
                .footer {
                    display: none;
                }
            }
        }
    } 
}