.pre-halalan-mobile-portrait {
    display: flex !important;
}
.phase-1 {
    overflow: hidden;
    background: #ccc url('../images/420/bg-420.jpg') no-repeat;
    background-size: cover;

    width: 100%;
    height: 350px;
    margin: 0;

    .content-holder {
        
        display: block;
        background: #fff;
        margin: 0 auto;
        
        width: 320px;
        height: 315px;
        top: 10px;

        .left-content {
            
            padding: 0;
            width: 320px;

            .header {
                height: 52px;
                padding: 0 20px;
                .left {
                    align-items: center;
                    line-height: 2;
                }
                .right {
                    align-items: center;
                    line-height: 4;
                    margin-right: 0;

                }
            }

            .content-container {
                
                @include flex-justify();
                -webkit-align-items: stretch;
                align-items: stretch;

                padding-left: 20px;
                padding-right: 20px;

                .teaser {
                    display: none;
                    margin-bottom: 10px;

                    .content {
                        margin-right: 0;
                        .text-content {
                            font-size: 12px;
                            word-break: break-all;
                        }
                    }
                }
        
                .teaser:nth-child(1),
                .teaser:nth-child(2) {
                    display: flex;
                    width: 100%;
                }
            }
        }
        
        .right-content {

            width: 400px;
            display: flex;
            img {
                width: 190px;
                height: 114px;
            }
            .countdown-container {
                display: block;
                box-shadow: none;
                top: 0;
                right: 0;
                // width: 126px;
                background-color: transparent;

                .days, 
                .hours {
                    border-radius: 0;
                    height: 60px;
                    h3 {
                        font-size: 18.61pt;
                        line-height: 1;
                    }
                }

                .days {
                    // width: 66px;
                }
                .hours {
                    width: 64px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .date-time {
                    display: flex;
                }

                .updates {
                    width: 130px;

                    .updates-holder {
                        height: 54px;
                        line-height: 1;
                        flex: 1.5;
                        .updates-link {
                            font-size: 14px;
                            margin-top: 3px;
                        }
                    }

                    .icon-holder {
                        .updates-link-icon {
                            position: relative;
                            top: 35%;
                        }
                    }
                }
            }
        }
    }
}